<div class="w-[100vw] md:w-[80vw] lg:w-[85vw] flex justify-start">
	<div class="w-11/12 mx-auto">
		<div class="relative overflow-x-auto shadow-md sm:rounded-lg mt-10">
			<table class="w-full text-sm text-left rtl:text-right text-gray-500">
				<thead class="text-xs text-gray-700 uppercase bg-[#f2f4f9]">
					<tr>
						<th scope="col" class="px-6 py-3">{{ 'Job_Station_Name' | translate }}</th>
						<th scope="col" class="px-6 py-3">
							{{ 'Job_Station_WorkersCount' | translate }}
						</th>
						<th scope="col" class="px-6 py-3">
							{{ 'Job_Station_Action' | translate }}
						</th>
					</tr>
				</thead>
				<tbody>
					<tr
						*ngFor="
							let jobStation of jobStationList
								| paginate
									: {
											id: 'job-station-list-pagination',
											itemsPerPage: pagination.pageSize,
											currentPage: pagination.pageNumber,
											totalItems: pagination.totalItems,
									  }
						"
						class="odd:bg-white even:bg-[#f2f4f9]"
					>
						<td class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap">
							{{ jobStation.name }}
						</td>
						<td class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap">
							{{ jobStation.employeesCount }}
						</td>
						<td><!--TODO later actions--></td>
					</tr>
				</tbody>
			</table>
		</div>

		<pagination-controls
			class="mt-5 block"
			id="job-station-list-pagination"
			(pageChange)="pageChanged($event)"
			previousLabel="{{ 'Pagination_Previous' | translate }}"
			nextLabel="{{ 'Pagination_Next' | translate }}"
			screenReaderPaginationLabel="{{ 'Pagination_Label' | translate }}"
			screenReaderPageLabel="{{ 'Pagination_PageLabel' | translate }}"
			screenReaderCurrentLabel="{{ 'Pagination_CurrentPageLabel' | translate }}"
		></pagination-controls>
	</div>
</div>
