.button-job-secondary {
	--tw-border-opacity: 1;
	border-color: rgb(134 151 196 / var(--tw-border-opacity));

	border-width: 1px;

	--tw-text-opacity: 1;
	color: rgb(134 151 196 / var(--tw-text-opacity));

	padding-left: 1rem /* 16px */;
	padding-right: 1rem /* 16px */;
	padding-top: 0.5rem /* 8px */;
	padding-bottom: 0.5rem /* 8px */;
	border-radius: 0.25rem /* 4px */;

	transition-property: color, background-color, border-color, text-decoration-color, fill, stroke,
		opacity, box-shadow, transform, filter, backdrop-filter;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	transition-duration: 200ms;
}

.button-job-secondary:hover {
	--tw-bg-opacity: 1;
	background-color: rgb(134 151 196 / var(--tw-bg-opacity));

	--tw-text-opacity: 1;
	color: rgb(255 255 255 / var(--tw-text-opacity));
}