<div class="text-[#333]">
    <div class="h-company-creator flex flex-col items-center justify-center">
        <div class="grid items-center gap-4 max-w-7xl rounded-md p-4 m-4 shadow-[0_2px_10px_-3px_rgba(6,81,237,0.3)]">
            <div class="w-full py-4 px-6">
                <form [formGroup]="companyCreatorForm">
                    <div class="mb-12">
                        <h3 class="text-3xl font-extrabold">{{ 'Company_Creator_New' | translate }}</h3>
                        <p class="font-semibold">{{ 'Company_Creator_NewCreator' | translate }}</p>
                    </div>
                    <div>
                        <label class="text-sm block mb-2">{{ 'Company_Creator_CompanyName' | translate }}</label>
                        <div class="relative flex items-center">
                            <input type="text" formControlName="CompanyName" required
                            class="w-full text-sm border-b border-gray-300 focus:border-[#8697C4] px-2 py-3 outline-none transition" />
                            <svg xmlns="http://www.w3.org/2000/svg" class="w-[20px] h-[20px] absolute right-2" fill="#bbb" stroke="#bbb" viewBox="0 0 100 100">
                                <rect x="20" y="40" width="60" height="50" stroke-width="2" fill="none"/>
                                <path d="M20 40 L50 10 L80 40" stroke-width="2" fill="none"/>
                                <rect x="35" y="55" width="10" height="10" fill="#bbb"/>
                                <rect x="55" y="55" width="10" height="10" fill="#bbb"/>
                                <rect x="35" y="70" width="10" height="20" fill="#bbb"/>
                                <rect x="55" y="70" width="10" height="20" fill="#bbb"/>
                            </svg>
                        </div>
                    </div>
                    <div class="mt-10 grid grid-cols-2 gap-4">
                        <button type="button" class="py-2 px-4 bg-blue-500 text-white rounded hover:bg-blue-700 justify-self-start">
                            {{ 'Company_Creator_Cancel' | translate }}
                        </button>
                        <button type="submit" class="py-2 px-4 bg-green-500 text-white rounded hover:bg-green-700 justify-self-end">
                            {{ 'Company_Creator_Confirm' | translate }}
                        </button>
                    </div>
                </form>
            </div>
            <div class="max-h-96 bg-[#A0A8D3] rounded-xl">
                <img src="../../../../assets/company/company-create.webp" class="w-full max-h-96 object-contain" alt="login-image" />
            </div>
        </div>
    </div>
</div>