.href-nav-option {
	position: relative;
	display: inline-block;
	overflow: hidden;
	--tw-text-opacity: 1;
	color: rgb(255 255 255 / var(--tw-text-opacity));
	transition-property: color, background-color, border-color, text-decoration-color, fill, stroke,
		opacity, box-shadow, transform, filter, backdrop-filter;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	transition-duration: 200ms;
	padding-bottom: 5px;
	cursor: pointer;
}

.href-nav-option:hover {
	--tw-text-opacity: 1;
	color: rgb(209 213 219 / var(--tw-text-opacity));
}

.href-nav-option::after {
	content: '';
	position: absolute;
	padding-bottom: 5px;
	bottom: -3px;
	left: 0;
	width: 100%;
	height: 2px;
	background-color: white;
	transform: scaleX(0);
	transform-origin: bottom right;
	transition: transform 0.3s ease-in-out;
}

.href-nav-option:hover::after {
	transform: scaleX(1);
	transform-origin: bottom left;
}

.button-nav-option {
	--tw-border-opacity: 1;
	border-color: rgb(255 255 255 / var(--tw-border-opacity));

	border-width: 1px;

	--tw-text-opacity: 1;
	color: rgb(255 255 255 / var(--tw-text-opacity));

	padding-left: 1rem /* 16px */;
	padding-right: 1rem /* 16px */;
	padding-top: 0.5rem /* 8px */;
	padding-bottom: 0.5rem /* 8px */;
	border-radius: 0.25rem /* 4px */;

	transition-property: color, background-color, border-color, text-decoration-color, fill, stroke,
		opacity, box-shadow, transform, filter, backdrop-filter;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	transition-duration: 200ms;
}

.button-nav-option:hover {
	--tw-bg-opacity: 1;
	background-color: rgb(255 255 255 / var(--tw-bg-opacity));

	--tw-text-opacity: 1;
	color: rgb(134 151 196 / var(--tw-text-opacity));
}

.rotate-0 {
	transform: rotate(0deg);
	transition: transform 0.3s ease;
}

.rotate-180 {
	transform: rotate(180deg);
	transition: transform 0.3s ease;
}

.company-svg {
	color: white;
	transition-duration: 300ms;
}

.menu-item:hover .href-nav-option {
	color: #d1d5db; /* Jasnoszary */
}

.text-and-icon {
	display: inline-block;
	cursor: pointer;
}

.icon-svg {
	display: inline-block;
	vertical-align: middle;
}

.submenu {
	display: none;
	position: absolute;
	background-color: white;
	box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
}

.group:hover .submenu {
	display: block;
}
