<nav class="bg-gradient-to-b from-[#8697C4] to-[#a3b4e2] p-4 border-b-2 border-b-[#c8d6fc]">
    <div class="container mx-auto flex items-center justify-between select-none">
        <div class="flex items-center cursor-pointer" [routerLink]="['']">
            <img src="assets/logo.webp" type="image/webp" alt="logo" class="h-12 w-12 mr-5" />
            <span class="text-white font-medium text-lg">Axite HR</span>
        </div>
        <div *ngIf="isLoggedIn" class="hidden lg:flex space-x-12 lg:space-x-6 xl:space-x-12">
            <a class="href-nav-option">Opcja 1</a>
            <a class="href-nav-option">Opcja 2</a>
            <a class="href-nav-option">Opcja 3</a>
            <a class="href-nav-option">Opcja 4</a>
            <a class="href-nav-option">Opcja 5</a>
        </div>
        <div class="hidden lg:flex space-x-4">
            @if (isLoggedIn) {
                <button class="button-nav-option" *ngIf="!isLoginPage" (click)="logOut()">Log out</button>
            }
            @else {
                <button class="button-nav-option" *ngIf="!isLoginPage" [routerLink]="['Login']">Sign in</button>
                <button class="button-nav-option" *ngIf="!isRegisterPage" [routerLink]="['Register']">Sign up</button>
            }
        </div>
        <div class="lg:hidden flex items-center">
            <button class="text-white" (click)="toggleMenu()">
                <svg class="h-6 w-6" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                    xmlns="http://www.w3.org/2000/svg">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16m-7 6h7">
                    </path>
                </svg>
            </button>
        </div>
    </div>
    <div *ngIf="isLoggedIn" [@menuAnimation]="isMenuOpen ? 'open' : 'closed'" class="lg:hidden overflow-hidden">
        <div class="flex flex-col items-center">
            <a class="block href-nav-option py-2">Opcja 1</a>
            <a class="block href-nav-option py-2">Opcja 2</a>
            <a class="block href-nav-option py-2">Opcja 3</a>
            <a class="block href-nav-option py-2">Opcja 4</a>
            <a class="block href-nav-option py-2">Opcja 5</a>
            @if (isLoggedIn) {
                <button class="w-full mt-2 button-nav-option" (click)="logOut()">Log out</button>
            }
            @else {
                <button class="w-full mt-2 button-nav-option" *ngIf="!isLoginPage" [routerLink]="['Login']">Sign in</button>
                <button class="w-full button-nav-option mt-2 button-nav-option" *ngIf="!isRegisterPage"
                    [routerLink]="['Register']">Sign up</button>
            }
            
        </div>
    </div>
</nav>