:host {
    display: block;
    overflow: hidden;
}

.h-temp-password-change {
    min-height: 70vh;
}

.focus-color {
    fill: #8697C4;
    stroke: #8697C4;
    transition: fill 150ms ease-in-out, stroke 150ms ease-in-out;
}

.error-message {
    min-height: 20px;
    min-height: 1.5em; /* Stała minimalna wysokość */
    white-space: normal; /* Umożliwia zawijanie tekstu */
    word-wrap: break-word; /* Zawija długie wyrazy */
  }