<div class="text-[#333]">
	<div class="h-temp-password-change flex flex-col items-center justify-center">
		<div
			class="grid items-center gap-4 max-w-7xl rounded-md p-4 m-4 shadow-[0_2px_10px_-3px_rgba(6,81,237,0.3)]"
		>
			<div class="md:max-w-xl md:mx-auto w-full sm:px-6 py-4">
				<form [formGroup]="tempPasswordChangeForm">
					<div class="mb-4 text-red-600" *ngIf="errorMessage">{{ errorMessage }}</div>
					<div class="mb-12">
						<h3 class="text-3xl font-extrabold">
							{{ 'Authentication_TempPasswordChange' | translate }}
						</h3>
					</div>
					<div class="mt-8">
						<div class="text-sm block mb-2">
							{{ 'Authentication_Password' | translate }}
						</div>
						<div class="relative flex items-center">
							<input
								type="text"
								formControlName="password"
								[type]="showPassword ? 'text' : 'password'"
								required
								(focus)="togglePasswordState(true)"
								(blur)="togglePasswordState(false)"
								class="w-full text-sm border-b border-gray-300 focus:border-[#8697C4] px-2 py-3 outline-none transition"
							/>
							<svg
								xmlns="http://www.w3.org/2000/svg"
								(click)="togglePasswordVisibility()"
								[class.focus-color]="passwordState"
								fill="#bbb"
								stroke="#bbb"
								class="w-[18px] h-[18px] absolute right-2 cursor-pointer"
								viewBox="0 0 128 128"
							>
								<path
									d="M64 104C22.127 104 1.367 67.496.504 65.943a4 4 0 0 1 0-3.887C1.367 60.504 22.127 24 64 24s62.633 36.504 63.496 38.057a4 4 0 0 1 0 3.887C126.633 67.496 105.873 104 64 104zM8.707 63.994C13.465 71.205 32.146 96 64 96c31.955 0 50.553-24.775 55.293-31.994C114.535 56.795 95.854 32 64 32 32.045 32 13.447 56.775 8.707 63.994zM64 88c-13.234 0-24-10.766-24-24s10.766-24 24-24 24 10.766 24 24-10.766 24-24 24zm0-40c-8.822 0-16 7.178-16 16s7.178 16 16 16 16-7.178 16-16-7.178-16-16-16z"
									data-original="#000000"
								></path>
							</svg>
						</div>
						<div
							class="text-red-600 relative items-center error-message"
							*ngIf="
								tempPasswordChangeForm.controls['password'].invalid &&
								(tempPasswordChangeForm.controls['password'].touched ||
									tempPasswordChangeForm.controls['password'].dirty)
							"
						>
							<div
								*ngIf="
									tempPasswordChangeForm.controls['password'].errors?.['required']
								"
							>
								*{{ 'Authentication_Password_RequiredError' | translate }}
							</div>
							<div
								*ngIf="
									tempPasswordChangeForm.controls['password'].errors?.[
										'minlength'
									]
								"
							>
								*{{ 'Authentication_Password_MinLengthError' | translate }}
							</div>
							<div
								*ngIf="
									tempPasswordChangeForm.controls['password'].errors?.['pattern']
								"
							>
								*{{ 'Authentication_Password_PatternError' | translate }}
							</div>
						</div>
					</div>
					<div class="mt-12">
						<div class="text-sm block mb-2">
							{{ 'Authentication_ConfirmPassword' | translate }}
						</div>
						<div class="relative flex items-center">
							<input
								type="text"
								formControlName="confirmPassword"
								type="password"
								required
								(focus)="toggleConfirmPasswordState(true)"
								(blur)="toggleConfirmPasswordState(false)"
								class="w-full text-sm border-b border-gray-300 focus:border-[#8697C4] px-2 py-3 outline-none transition"
							/>
						</div>
						<div
							class="text-red-600 relative items-center error-message"
							*ngIf="
								tempPasswordChangeForm.controls['confirmPassword'].invalid &&
								(tempPasswordChangeForm.controls['confirmPassword'].touched ||
									tempPasswordChangeForm.controls['confirmPassword'].dirty)
							"
						>
							<div
								*ngIf="
									tempPasswordChangeForm.controls['confirmPassword'].errors?.[
										'mustMatch'
									]
								"
							>
								*{{ 'Authentication_ConfirmPassword_MustMatchError' | translate }}
							</div>
						</div>
					</div>
					<div class="mt-10 grid grid-cols-2 gap-4">
						<button
							type="button"
							[routerLink]="['/Login']"
							class="w-full justify-self-start shadow-xl py-2.5 px-4 text-sm font-semibold rounded-full text-white bg-[#8697C4] hover:bg-[#6b789c] focus:outline-none transition"
						>
							{{ 'Authentication_Cancel' | translate }}
						</button>
						<button
							type="submit"
							[disabled]="tempPasswordChangeForm.invalid"
							(click)="changeTempPassword()"
							class="w-full justify-self-end shadow-xl py-2.5 px-4 text-sm font-semibold rounded-full text-white bg-[#8697C4] hover:bg-[#6b789c] focus:outline-none transition"
						>
							{{ 'Authentication_TempPasswordChange_Confirm' | translate }}
						</button>
					</div>
				</form>
			</div>
			<div class="max-h-90 bg-[#A0A8D3] rounded-xl">
				<!--TODO another webp image for temp password-->
				<img
					src="../../../../assets/company/company-create.webp"
					class="w-full max-h-96 object-contain"
					alt="login-image"
				/>
			</div>
		</div>
	</div>
</div>
