@using System.Globalization

<!DOCTYPE html>
<html lang="@CultureInfo.CurrentUICulture.TwoLetterISOLanguageName">
    <head>
        <title>Invoice template</title>
        <meta charset="utf-8" />
        <style>
            .invoice-header {
                display: flex;
                justify-content: flex-start;
                align-items: center;
                padding: 20px 0;
            }
        </style>
    </head>
    <body>
        <div class="invoice-header">

        </div>
    </body>
</html>