<div class="text-[#333]">
    <div class="h-register flex flex-col items-center justify-center">
        <div class="grid md:grid-cols-2 items-center gap-4 max-w-6xl w-full p-4 m-4 shadow-[0_2px_10px_-3px_rgba(6,81,237,0.3)] rounded-md">
            <div class="md:max-w-md w-full sm:px-6 py-4">
                <form [formGroup]="registerForm">
                    <div class="mb-12">
                        <h3 class="text-3xl font-extrabold">Sign up</h3>
                        <p class="text-sm mt-4">Have got an account <a [routerLink]="['/Login']" class="text-blue-600 font-semibold hover:underline ml-1 whitespace-nowrap">Login here</a></p>
                    </div>
                    <div>
                        <label class="text-sm block mb-2">E-mail*</label>
                        <div class="relative flex items-center">
                            <input name="email" #email (focus)="onFocus(email.name)" (blur)="onBlur(email.name)" formControlName="Email" type="text" required class="w-full text-sm border-b border-gray-300 focus:border-[#8697C4] px-2 py-3 outline-none transition" placeholder="Enter email" />
                            <svg xmlns="http://www.w3.org/2000/svg" [class.focus-color]="focusEmail" fill="#bbb" stroke="#bbb" class="w-[18px] h-[18px] absolute right-2" viewBox="0 0 682.667 682.667">
                                <defs>
                                    <clipPath id="a" clipPathUnits="userSpaceOnUse">
                                    <path d="M0 512h512V0H0Z" data-original="#000000"></path>
                                    </clipPath>
                                </defs>
                                <g clip-path="url(#a)" transform="matrix(1.33 0 0 -1.33 0 682.667)">
                                    <path fill="none" stroke-miterlimit="10" stroke-width="40" d="M452 444H60c-22.091 0-40-17.909-40-40v-39.446l212.127-157.782c14.17-10.54 33.576-10.54 47.746 0L492 364.554V404c0 22.091-17.909 40-40 40Z" data-original="#000000"></path>
                                    <path d="M472 274.9V107.999c0-11.027-8.972-20-20-20H60c-11.028 0-20 8.973-20 20V274.9L0 304.652V107.999c0-33.084 26.916-60 60-60h392c33.084 0 60 26.916 60 60v196.653Z" data-original="#000000"></path>
                                </g>
                            </svg>
                        </div>
                        <div class="text-red-600 relative items-center" *ngIf="registerForm.controls['Email'].invalid && (registerForm.controls['Email'].touched || registerForm.controls['Email'].dirty)">
                            <div *ngIf="registerForm.controls['Email'].errors?.['required']">
                                *E-mail is a required field
                            </div>
                            <div *ngIf="registerForm.controls['Email'].errors?.['email']">
                                *Field e-mail must be an actual email
                            </div>
                        </div>
                    </div>
                    <div class="mt-8">
                        <label class="text-sm block mb-2">Username*</label>
                        <div class="relative flex items-center">
                            <input name="userName" #userName (focus)="onFocus(userName.name)" (blur)="onBlur(userName.name)" formControlName="UserName" type="text" required class="w-full text-sm border-b border-gray-300 focus:border-[#8697C4] px-2 py-3 outline-none transition" placeholder="Enter user name" />
                            <svg xmlns="http://www.w3.org/2000/svg" [class.focus-color]="focusUserName" fill="#bbb" stroke="#bbb" class="w-[18px] h-[18px] absolute right-2" viewBox="0 0 24 24">
                                <path d="M12 12c2.761 0 5-2.239 5-5s-2.239-5-5-5-5 2.239-5 5 2.239 5 5 5zm0 2c-3.859 0-7 2.686-7 6v2h14v-2c0-3.314-3.141-6-7-6z"/>
                            </svg>
                        </div>
                        <div class="text-red-600 relative items-center" *ngIf="registerForm.controls['UserName'].invalid && (registerForm.controls['UserName'].touched || registerForm.controls['UserName'].dirty)">
                            <div *ngIf="registerForm.controls['UserName'].errors?.['required']">
                                *Username is a required field
                            </div>
                            <div *ngIf="registerForm.controls['UserName'].errors?.['minlength']">
                                *Username must be at least 5 characters long
                            </div>
                        </div>
                    </div>
                    <div class="mt-8">
                        <label class="text-sm block mb-2">Firstname*</label>
                        <div class="relative flex items-center">
                            <input name="firstName" #firstName (focus)="onFocus(firstName.name)" (blur)="onBlur(firstName.name)" formControlName="FirstName" type="text" required class="w-full text-sm border-b border-gray-300 focus:border-[#8697C4] px-2 py-3 outline-none transition" placeholder="Enter user name" />
                            <svg xmlns="http://www.w3.org/2000/svg" [class.focus-color]="focusFirstName" fill="#bbb" stroke="#bbb" class="w-[18px] h-[18px] absolute right-2" viewBox="0 0 24 24">
                                <path d="M12 2a10 10 0 1 0 10 10A10 10 0 0 0 12 2zm0 18a8 8 0 1 1 8-8 8 8 0 0 1-8 8z"/>
                                <path d="M12 6a3.993 3.993 0 0 0-3 6.647V16a1 1 0 0 0 2 0v-1h2v1a1 1 0 0 0 2 0v-3.353A3.993 3.993 0 0 0 12 6zm0 6a2 2 0 1 1 2-2 2 2 0 0 1-2 2z"/>
                            </svg>
                        </div>
                        <div class="text-red-600 relative items-center" *ngIf="registerForm.controls['FirstName'].invalid && (registerForm.controls['FirstName'].touched || registerForm.controls['FirstName'].dirty)">
                            <div *ngIf="registerForm.controls['FirstName'].errors?.['required']">
                                *Firstname is a required field
                            </div>
                            <div *ngIf="registerForm.controls['FirstName'].errors?.['minlength']">
                                *Firstname must be at least 2 characters long
                            </div>
                        </div>
                    </div>
                    <div class="mt-8">
                        <label class="text-sm block mb-2">Lastname*</label>
                        <div class="relative flex items-center">
                            <input name="lastName" #lastName (focus)="onFocus(lastName.name)" (blur)="onBlur(lastName.name)" formControlName="LastName" type="text" required class="w-full text-sm border-b border-gray-300 focus:border-[#8697C4] px-2 py-3 outline-none transition" placeholder="Enter user name" />
                            <svg xmlns="http://www.w3.org/2000/svg" [class.focus-color]="focusLastName" fill="#bbb" stroke="#bbb" class="w-[18px] h-[18px] absolute right-2" viewBox="0 0 24 24">
                                <path d="M12 2a10 10 0 1 0 10 10A10 10 0 0 0 12 2zm0 18a8 8 0 1 1 8-8 8 8 0 0 1-8 8z"/>
                                <path d="M12 6a3.993 3.993 0 0 0-3 6.647V16a1 1 0 0 0 2 0v-1h2v1a1 1 0 0 0 2 0v-3.353A3.993 3.993 0 0 0 12 6zm0 6a2 2 0 1 1 2-2 2 2 0 0 1-2 2z"/>
                            </svg>
                        </div>
                        <div class="text-red-600 relative items-center" *ngIf="registerForm.controls['LastName'].invalid && (registerForm.controls['LastName'].touched || registerForm.controls['LastName'].dirty)">
                            <div *ngIf="registerForm.controls['LastName'].errors?.['required']">
                                *Lastname is a required field
                            </div>
                            <div *ngIf="registerForm.controls['LastName'].errors?.['minlength']">
                                *Lastname must be at least 2 characters long
                            </div>
                        </div>
                    </div>
                    <!--TODO Phone number-->
                    <div class="mt-8">
                        <label class="text-sm block mb-2">Password*</label>
                        <div class="relative flex items-center">
                            <input name="password" #password (focus)="onFocus(password.name)" (blur)="onBlur(password.name)" formControlName="UserPassword" [type]="showPassword ? 'text' : 'password'" required class="w-full text-sm border-b border-gray-300 focus:border-[#8697C4] px-2 py-3 outline-none transition" placeholder="Enter password" />
                            <svg xmlns="http://www.w3.org/2000/svg" (click)="togglePasswordVisibility()" [class.focus-color]="focusPassword" fill="#bbb" stroke="#bbb" class="w-[18px] h-[18px] absolute right-2 cursor-pointer" viewBox="0 0 128 128">
                                <path d="M64 104C22.127 104 1.367 67.496.504 65.943a4 4 0 0 1 0-3.887C1.367 60.504 22.127 24 64 24s62.633 36.504 63.496 38.057a4 4 0 0 1 0 3.887C126.633 67.496 105.873 104 64 104zM8.707 63.994C13.465 71.205 32.146 96 64 96c31.955 0 50.553-24.775 55.293-31.994C114.535 56.795 95.854 32 64 32 32.045 32 13.447 56.775 8.707 63.994zM64 88c-13.234 0-24-10.766-24-24s10.766-24 24-24 24 10.766 24 24-10.766 24-24 24zm0-40c-8.822 0-16 7.178-16 16s7.178 16 16 16 16-7.178 16-16-7.178-16-16-16z" data-original="#000000"></path>
                            </svg>
                        </div>
                        <div class="text-red-600 relative items-center" *ngIf="registerForm.controls['UserPassword'].invalid && (registerForm.controls['UserPassword'].touched || registerForm.controls['UserPassword'].dirty)">
                            <div *ngIf="registerForm.controls['UserPassword'].errors?.['required']">
                                *Password is a required field
                            </div>
                            <div *ngIf="registerForm.controls['UserPassword'].errors?.['minlength']">
                                *Password must be at least 8 characters long
                            </div>
                            <div *ngIf="!registerForm.controls['UserPassword'].value?.match('^(?=.*[A-Z])')">
                                *Password must have at least 1 uppercase letter
                            </div>
                            <div *ngIf="!registerForm.controls['UserPassword'].value?.match('(?=.*[a-z])')">
                                *Password must have at least 1 lowercase letter
                            </div>
                            <div *ngIf="!registerForm.controls['UserPassword'].value?.match('(.*[0-9].*)')">
                                *Password must have at least 1 digit
                            </div>
                            <div *ngIf="!registerForm.controls['UserPassword'].value?.match('(?=.*[!@#$%^&*])')">
                                *Password must have at least 1 special character
                            </div>
                        </div>
                    </div>
                    <div class="mt-8">
                        <label class="text-sm block mb-2">Confirm password*</label>
                        <div class="relative flex items-center">
                            <input name="confirmPassword" #confirmPassword formControlName="UserPasswordRepeated" type="password" required class="w-full text-sm border-b border-gray-300 focus:border-[#8697C4] px-2 py-3 outline-none transition" placeholder="Enter password" />
                        </div>
                        <div class="text-red-600 relative items-center" *ngIf="registerForm.controls['UserPasswordRepeated'].invalid && (registerForm.controls['UserPasswordRepeated'].touched || registerForm.controls['UserPasswordRepeated'].dirty)">
                            <div *ngIf="registerForm.controls['UserPasswordRepeated'].errors?.['mustMatch']">
                                *Confirmed password must be the same as password
                            </div>
                        </div>
                    </div>
                    <div class="mt-12">
                        <button type="button" [disabled]="registerForm.invalid" (click)="register(registerModel)" class="w-full shadow-xl py-2.5 px-4 text-sm font-semibold rounded-full text-white bg-[#8697C4] hover:bg-[#6b789c] focus:outline-none transition">
                            Sign up
                        </button>
                    </div>
                </form>
            </div>
            <div class="md:h-full max-md:mt-10 bg-gradient-to-t from-[#8697C4] to-[#a3b4e2] rounded-xl lg:p-12 p-8">
                <img src="../../../../assets/register.webp" class="w-full h-full object-contain" alt="register-image" />
            </div>
        </div>
    </div>
</div>