.h-register {
    min-height: 90vh;
}

.focus-color {
    fill: #8697C4;
    stroke: #8697C4;
    transition: fill 150ms ease-in-out, stroke 150ms ease-in-out;
}

.input-focus {
    transition: border-color 150ms ease-in-out;
}

.input-danger {
    fill: red;
    stroke: red;
    border-color: red;
    transition: fill 150ms ease-in-out, stroke 150ms ease-in-out, border-color 150ms ease-in-out;
}

:host {
    display: block;
    overflow: hidden;
}